html{
    font-size: 62.5%;
    color: #ADBAC7;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
}

body {
	background-color: #22272E;
	font-family: 'Poppins', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.wrapper {
	max-width: 600px;
	margin: 0 auto;
	width: 100%;
	text-align: center;
	padding: 2%;
	background-color: inherit;
	height: 500px;
}
a{
    color: #ADBAC7;
    text-decoration: none;
}

h1 {
    font-size: 3.5rem;
    color: #ecf0f1;
    margin: 2rem
}